section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold-ital.font-s-94.text-up 25 лет
      .about-section__sub-title.font-w-bold-ital.font-s-44.text-up кузовных работ
      .about-section__text.font-s-18
        span.font-w-bold KUZOVNOY №1 
        | работает в столице отечественного 
        br.no-br
        | автопрома, городе Тольятти с 1999 года
        br
        br
        | Мы превращаем любое транспортное средство 
        br.no-br
        | в идеальное. Поверьте, у нас колоссальный опыт
        br
        br
        | Мы с радостью предлагаем вам стать частью 
        br.no-br
        | нашей команды и вместе качественно работать 
        br.no-br
        | и хорошо зарабатывать
      img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="1320" height="912" alt="image")
.brand-name-line
