header.header-thanks
  .header-thanks__container
    .header-thanks__brand-block
      img.header-thanks__logo(src="images/logo-header.png" loading="lazy" width="246" height="118" alt="logo")
      .header-thanks__line
      .header-thanks__brand.font-s-12 Франшиза компании по кузовному <br> ремонту автотранспортных средств
    .header-thanks__connection
      a(href="tel:+79000000000")
        img.header-thanks__connection-icon(src="images/connection-icon.svg" loading="lazy" width="14" height="14" alt="icon")
      include ../components/phone-number.pug

      //- .header__call-me.font-w-semi-bold.font-s-12(data-remodal-target="modal-form-call-me") Обратный звонок
