section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-bold-ital.font-s-44.text-up
        | 4 причины 
        br.no-br
        | открыть KUZOVNOY №1
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            .reasons-section__card-num.font-w-bold-ital.font-s-18 1
            .font-s-18
              | Стабильно 
              br.no-br
              | высокий спрос и широкие 
              br.no-br
              | возможности
          .reasons-section__card.swiper-slide
            .reasons-section__card-num.font-w-bold-ital.font-s-18 2
            .font-s-18
              | Большая 
              br.no-br
              | маржинальность и 
              br.no-br
              | высокая рентабельность
          .reasons-section__card.swiper-slide
            .reasons-section__card-num.font-w-bold-ital.font-s-18 3
            .font-s-18
              | Надежная 
              br.no-br
              | и проверенная 
              br.no-br
              | финансовая модель
          .reasons-section__card.swiper-slide
            .reasons-section__card-num.font-w-bold-ital.font-s-18 4
            .font-s-18
              | Самореализация 
              br.no-br
              | и статус 
              br.no-br
              | хозяина бизнеса
        .reasons-pagination.swiper-progress-reasons
      .reasons-section__bottom
        .font-w-bold-ital.font-s-24.text-up
          | Узнайте о других преимуществах 
          br
          | бизнеса по франшизе KUZOVNOY №1
        .font-s-18 Скачайте подробную презентацию
        form.reasons-section__form(data-feedback-form)
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.btn--secondary(type="submit") Скачать презентацию
      img.reasons-section__img(src="images/reasons-section-img.jpg" loading="lazy" width="1120" height="940" alt="image")
