section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bold-ital.font-s-44.text-up
        | Мы поможем вам 
        br.no-br
        | запустить свой бизнес
      .start-section__sub-title.font-s-18 Команда KUZOVNOY №1 поддержит вас на всех этапах
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 1
            .font-s-18.color-black
              | Обеспечим пошаговое 
              br.no-br
              | становление бизнеса
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 2
            .font-s-18.color-black
              | Предоставим 
              br.no-br
              | дистанционное 
              br.no-br
              | образование
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 3
            .font-s-18.color-black
              | Обучим очно 
              br.no-br
              | на базе ГО (по 
              br.no-br
              | договоренности)
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 4
            .font-s-18.color-black
              | Проведем 
              br.no-br
              | запуск бизнеса 
              br.no-br
              | дистанционно
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 5
            .font-s-18.color-black
              | Направим команду 
              br.no-br
              | специалистов для запуска 
              br.no-br
              | бизнеса (за доп плату)
          .start-section__card.swiper-slide.start-card-margin
            .start-section__card-num.font-w-bold.font-s-18 6
            .font-s-18.color-black
              | Обучим 
              br.no-br
              | специфике продаж
          .start-section__card.swiper-slide
            .start-section__card-num.font-w-bold.font-s-18 7
            .font-s-18.color-black
              | Подключим 
              br.no-br
              | к горячей линии 
              br.no-br
              | и личному чату
          .start-section__card.swiper-slide.start-card-margin
            .start-section__card-num.font-w-bold.font-s-18 8
            .font-s-18.color-black
              | Дадим консультации, 
              br.no-br
              | касающиеся 
              br.no-br
              | ведения бизнеса
          .start-section__card.swiper-slide.start-card-width
            .start-section__card-num.font-w-bold.font-s-18 9
            .font-s-18.color-black
              | Добавим на официальный сайт и 
              br.no-br
              | создадим вам собственную страницу
        .start-pagination.swiper-progress-start
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1120" height="1404" alt="image")
