section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__icon(src="images/steps-section-icon.png" loading="lazy" width="1160" height="420" alt="image")
      h2.steps-section__title.font-w-bold-ital.font-s-44.text-up
        | 9 простых шагов, чтобы 
        br.no-br
        | открыть ваш кузовной автосервис
      .steps-section__sub-title.font-s-18 Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 1
            .font-s-18.color-black
              | Заключаем договор 
              br.no-br
              | франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 2
            .font-s-18.color-black
              | Ищем помещение и 
              br.no-br
              | подписываем договор 
              br.no-br
              | аренды
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 3
            .font-s-18.color-black
              | Проводим ремонт и 
              br.no-br
              | оформляем помещение
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 4
            .font-s-18.color-black
              | Осуществляем поиск 
              br.no-br
              | персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 5
            .font-s-18.color-black
              | Производим заказ, 
              br.no-br
              | оборудования и мебели
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 6
            .font-s-18.color-black
              | Доставляем и монтируем 
              br.no-br
              | оборудование и мебель
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 7
            .font-s-18.color-black
              | Формируем первичные запасы 
              br.no-br
              | товара и расходных материалов
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 8
            .font-s-18.color-black
              | Проводим обучение 
              br.no-br
              | персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-17.color-white 9
            .font-s-18.color-black
              | Открываем точку и 
              br.no-br
              | начинаем зарабатывать
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="285" height="170" alt="image")
        .font-s-22
          | Работаем строго по договору, 
          br.no-br
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
      button.btn.btn--secondary.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
