section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold-ital.font-s-44.text-up
        | Сделайте первый шаг, 
        br.no-br
        | узнайте лучшие места 
        br.no-br
        | для открытия KUZOVNOY №1
      .support-section__sub-title.font-s-18
        | Просто укажите название вашего города 
        br.no-br
        | и получите список удачных локаций
      form.support-section__form(data-city-form)
        .input.input--city.js-input-city.support-item
          input.input.input--city.support-item.input-city-position(type="text" name="city" autocomplete="off" placeholder="Название города")
          .input__progress.js-input-city-progress
            span.js-input-city-percent 0%
        button.btn.btn--city.support-item(type="submit") Получить список локаций
